<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/Home/Index">
                <i class="fas fa-book-reader fa-2x mr-2" style="color: #f1d209;"></i>
                <span class="sidebar-brand-text">Mi Biblioteca</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Index">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrestamos"
                            aria-expanded="false" aria-controls="collapsePrestamos">
                            <i class="fas fa-list"></i>
                            <span>Prestamos</span>
                        </a>
                        <div id="collapsePrestamos" class="collapse" aria-labelledby="headingPrestamos"
                            data-parent="#navbarNav">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" href="/Prestamo/Registrar">Registrar</a>
                                <a class="collapse-item" href="/Prestamo/Consultar">Consultar</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBiblioteca"
                            aria-expanded="false" aria-controls="collapseBiblioteca">
                            <i class="fas fa-book"></i>
                            <span>Biblioteca</span>
                        </a>
                        <div id="collapseBiblioteca" class="collapse" aria-labelledby="headingBiblioteca"
                            data-parent="#navbarNav">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Registrar:</h6>
                                <a class="collapse-item" href="/Biblioteca/Libros">Libros</a>
                                <a class="collapse-item" href="/Biblioteca/Autores">Autores</a>
                                <a class="collapse-item" href="/Biblioteca/Editorial">Editorial</a>
                                <a class="collapse-item" href="/Biblioteca/Categoria">Categoria</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePersonas"
                            aria-expanded="false" aria-controls="collapsePersonas">
                            <i class="fas fa-user-friends"></i>
                            <span>Personas</span>
                        </a>
                        <div id="collapsePersonas" class="collapse" aria-labelledby="headingPersonas"
                            data-parent="#navbarNav">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Registrar:</h6>
                                <a class="collapse-item" href="/Persona/Usuarios">Usuarios</a>
                                <a class="collapse-item" href="/Persona/Lectores">Lectores</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Ivan</span>
                                <i class="fas fa-user-shield" style="font-size: 25px; font-weight: bold;"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/Admin/CerrarSesion">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="text-center">
                        <span>&copy; Your Website 2023</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
