
@{
    ViewBag.Title = "Categoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Categorias</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success btn-sm" type="button" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="tabla" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="FormModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Categoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <form id="formNivel">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdescripcion">Descripcion:</label>
                                <input type="text" class="form-control required" id="txtdescripcion" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cboEstado">Estado:</label>
                                <select id="cboEstado" class="form-control">
                                    <option value="1">Activo</option>
                                    <option value="0">No Activo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        let tabladata;

        $(document).ready(function () {
            tabladata = $('#tabla').DataTable({
                responsive: true,
                "ajax": {
                    "url": '@Url.Action("ListarCategoria", "Biblioteca")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "descripcion" },
                    {
                        "data": "estado", "render": function (data) {
                            if (data) {
                                return '<span class="badge badge-success p-2">Activo</span>';
                            } else {
                                return '<span class="badge badge-danger p-2">No Activo</span>';
                            }
                        }
                    },
                    {
                        "data": "idCategoria", "render": function (data, type, row, meta) {
                            var editarButton = $('<button>').addClass("btn btn-primary btn-sm editar").append(
                                $('<i>').addClass("fas fa-pen")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML;

                            var eliminarButton = $('<button>').addClass("btn btn-danger btn-sm eliminar").append(
                                $('<i>').addClass("fas fa-trash")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML;

                            return editarButton + eliminarButton;
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }
                ]
            });
        });

        $(document).on('click', '.editar', function (event) {
            var json = $(this).data("informacion");
            abrirModal(json);
        });

        $(document).on('click', '.eliminar', function (event) {
            var json = $(this).data("informacion");
            if (confirm('¿Estás seguro de que deseas eliminar esta categoría?')) {
                    eliminarCategoria(json.idCategoria);
                }
        });

        function abrirModal(json) {
            $("#txtid").val(0);
            $("#txtdescripcion").val("");
            $("#cboEstado").val(1);
            if (json != null) {
                $("#txtid").val(json.idCategoria);
                $("#txtdescripcion").val(json.descripcion);
                $("#cboEstado").val(json.estado ? 1 : 0);
            }

            $('#FormModal').modal('show');
        }

         function eliminarCategoria(idCategoria) {
                $.ajax({
                    url: '@Url.Action("EliminarCategoria", "Biblioteca")',
                    type: 'POST',
                    data: { IdCategoria: idCategoria },
                    success: function (response) {
                        if (response.resultado) {
                            alert('Categoría eliminada correctamente');
                            $('#tabla').DataTable().ajax.reload();
                        } else {
                            alert('Error al eliminar la categoría');
                        }
                    },
                    error: function (err) {
                        alert('Error de comunicación');
                    }
                });
            }

        function Guardar() {
            jQuery.ajax({
                url: '@Url.Action("GuardarCategoria", "Biblioteca")',
                type: "POST",
                data: {
                    IdCategoria: $("#txtid").val(),
                    Descripcion: $("#txtdescripcion").val(),
                    Estado: $("#cboEstado").val() == 1
                },
                success: function (data) {
                    if (data.resultado) {
                        tabladata.ajax.reload();
                        $('#FormModal').modal('hide');
                    } else {
                        alert("No se pudo guardar los cambios");
                    }
                },
                error: function (error) {
                    console.log("Error")
                }
            });
        }
    </script>
}
